<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="vi">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Tên Sản Phẩm:</label>
        <div class="col-sm-10">
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                    <input type="text" class="form-control" th:field="*{name}"
                           readonly="readonly"
                    />
                </th:block>
            </th:block>

            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <input type="text" class="form-control" th:field="*{name}" required="required" minlength="3"
                       maxlength="256"/>
            </th:block>
        </div>
    </div>

    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Mã Sản Phẩm:</label>
        <div class="col-sm-10">
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                    <input type="text" class="form-control" th:field="*{alias}"
                           readonly="readonly"/>
                </th:block>
            </th:block>

            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <input type="text" class="form-control" th:field="*{alias}" minlength="3" placeholder="Mặc định là tên sản phẩm"
                       maxlength="256"/>
            </th:block>
        </div>
    </div>

    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Nhà Sản Xuất:</label>
        <div class="col-sm-10">
            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <select th:field="*{brand}" class="form-control" required>
                    <th:block th:each="brand: ${brands}">
                        <option th:value="${brand.id}" th:text="${brand.name}"></option>
                    </th:block>
                </select>
            </th:block>
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                    <input type="text" class="form-control" th:value="${product.brand.name}" readonly/>
                </th:block>
            </th:block>


        </div>
    </div>

    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Danh Mục Sản Phẩm:</label>
        <div class="col-sm-10">
            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${product.category != null}">
                    <select th:field="*{category}" class="form-control" required>
                        <th:block th:each="category: ${product.brand.categories}">
                            <option th:value="${category.id}" th:text="${category.name}"></option>
                        </th:block>
                    </select>
                </th:block>

                <th:block th:if="${product.category == null}">
                    <select th:field="*{category}" class="form-control" required>
                    </select>
                </th:block>
            </th:block>
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                    <input type="text" class="form-control" th:value="${product.category.name}" readonly/>
                </th:block>
            </th:block>
        </div>
    </div>

    <div class="form-group m-2  row">
        <label class="col-sm-4 col-form-label">Trạng Thái:</label>
        <div class="col-sm-8">
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">
                    <input
                            type="checkbox" th:field="*{enabled}" disabled="disabled"/>
                </th:block>
            </th:block>
            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <input type="checkbox" th:field="*{enabled}"/>
            </th:block>
        </div>
        <label class="col-sm-4 col-form-label">Còn Hàng:</label>
        <div class="col-sm-8">
            <th:block
                    th:if="${!#authorization.expression('hasAuthority(''Admin'')')&&!#authorization.expression('hasAuthority(''Editor'')')}">
                <th:block th:if="${#authorization.expression('hasAuthority(''Salesperson'')')}">

                        <input
                                type="checkbox" th:field="*{inStock}" disabled="disabled"/>
                </th:block>
            </th:block>
            <th:block
                    th:if="${#authorization.expression('hasAuthority(''Admin'')')||#authorization.expression('hasAuthority(''Editor'')')}">
                <input type="checkbox" th:field="*{inStock}"/>
            </th:block>
        </div>
    </div>

    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Giá Nhập:</label>
        <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" th:field="*{cost}"/>
        </div>
    </div>
    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Giá Bán:</label>
        <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" th:field="*{price}"/>
        </div>
    </div>
    <div class="form-group m-2 row">
        <label class="col-sm-4 col_form-label">Giảm giá:</label>
        <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" th:field="*{discountPercent}"/>
        </div>
    </div>
</div>
</body>
</html>