<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="row" id="divProductImages">
        <div class="col m-3 p-2">
            <div><label>Ảnh chính: </label></div>
            <div>
                <img id="thumbnail" alt="Main image preview" class="img-fluid"
                     th:src="@{${product.mainImagePath}}"/>
            </div>
            <br>
            <div>
                <input type="file" id="fileImage" name="fileImage"
                       th:required="${product.mainImage == null}"
                       accept="image/png,image/jpg, image/jpeg"
                      />
            </div>
            <input type="hidden" th:field="*{mainImage}"/>
        </div>

        <th:block th:each="productImage,status : ${product.images}">
            <div class="col m-3 p-2" th:id="'divExtraImage'+${status.index}">
                <div><label>Ảnh [[${status.index+1}]]: </label>
                <button  type="button" class="btn btn-danger justify-content-center float-right mb-2"
                         >
                    <i class="fas fa-trash-alt"></i>
                </button>
                </div>
                <div>
                    <img th:id="'extraThumbnail'+ ${status.index}"
                         th:alt="'Extra image'+ ${status.index}+'preview'"
                         class="img-fluid"
                         th:src="@{${productImage.imagePath}}"/>
                </div>
                <br>
                <div>
                    <input type="file" name="extraImage" accept="image/png,image/jpg, image/jpeg" />
                </div>
                <input type="hidden" name="imageIDs" th:id="'imageId'+${status.index}"/>
                <input type="hidden" name="imageNames" th:id="'imageName'+${status.index}"/>
            </div>
        </th:block>

        <div class="col m-3 p-2" th:id="'divExtraImage'+${numberExtraImages}">
            <div th:id="'extraImageHeader'+${numberExtraImages}"><label>Ảnh
                [[${numberExtraImages+1}]]: </label></div>
            <div>
                <img th:id="'extraThumbnail'+${numberExtraImages}"
                     th:alt="'Extra image'+ ${numberExtraImages} + 'preview'" class="img-fluid"
                     th:src="@{/images/preview.png}"/>
            </div>
            <br>
            <div>
                <input type="file" name="extraImage" accept="image/png,image/jpg, image/jpeg" />
            </div>
        </div>
    </div>

</div>
</body>
</html>