<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="fragments::header('📱 Tech Shop')">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments::menu">
    </div>

    <a class="pl-3 h4" th:href="@{/account}" sec:authentication="principal.name"></a>
    &nbsp;
    <span class="text-info h5" sec:authentication="principal.authorities"></span>
    <div th:replace="fragments::titleHeaderPage('WelCome To Tech Shop', null)">

    </div>

</div>
</body>
<footer th:replace="fragments::footer('thenguyenngochn@gmail.com - Tech Shop')">
</footer>
</html>